<p-panel header="Basic Texts and Dates Pipes" class="p-1">
  <p>Pipes included in Angular - Usually in the Common Module</p>
</p-panel>

<div class="grid">

  <div class="col-12 md:col-4">
    <p-card header="Uppercase">
      {{nameLower | uppercase}}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="Lowercase">
      {{nameUpper | lowercase}}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="Tilecase">
      {{fullName | titlecase}}
    </p-card>
  </div>

  <div class="col-12 md:col-6">
    <p-card header="Tilecase">
      <ol>
        <li>Date</li>
        <li>Date | date</li>
        <li>Date | date:"short"</li>
        <li>Date | date:"long"</li>
        <li>Date | date:"MMMM"</li>
        <li>Date | date:"MMMM dd, yyyy"</li>
      </ol>

      <hr>
      <ol>
        <li>Date | date:"long":"GMT-6"</li>
        <li>Date | date:"long":"GMT+2"</li>
        <li>Date | date:"long":"":""en-GB</li>
        <li>Date | date:"long":"":""fr-CA</li>
      </ol>
    </p-card>
  </div>

  <div class="col-12 md:col-6">
    <p-card header="Tilecase">
      <ol>
        <li>{{customDate}}</li>
        <li>{{customDate | date}}</li>
        <li>{{customDate | date:"short"}}</li>
        <li>{{customDate | date:"long"}}</li>
        <li>{{customDate | date:"MMMM"}}</li>
        <li>{{customDate | date:"MMMM dd, yyyy"}}</li>
      </ol>

      <hr>
      <ol>
        <li>{{customDate | date:"long":"GMT-6"}}</li>
        <li>{{customDate | date:"long":"GMT+2"}}</li>
        <li>{{customDate | date:"long":"":"en-US"}}</li>
        <li>{{customDate | date:"long":"":"fr-CA"}}</li>
      </ol>
    </p-card>
  </div>

</div>
